################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlowerApi/.vs/FlowerApi/v17/.futdcache.v1
