################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/FlowerApi/.vs/FlowerApi/v17/.futdcache.v1
/FlowerApi/.vs/FlowerApi/DesignTimeBuild/.dtbcache.v2
/.vs/api/v17/.suo
